<?xml version="1.0" encoding="us-ascii" ?>

<configuration>

  <!--Irrlicht device settings: driver can be DirectX = 0, OPENGL = 1, Burning's Video = 2 or Software = 3, fullscreen, stencilbuffer and vsync can be 1 or 0 -->
  <graphic driver="0" fullscreen="0" stencilbuffer="0" vsync="0" />

  <!--Resolution and color depth settings-->
  <resolution xres="640" yres="480" bits="16" />

  <!--Sound setting: enabled = 1 or disabled = 0;-->
  <sound enabled="0" />

  <!--Gui setting: transparency = 1 to 255;-->
  <gui transparency="255" />

  <!--HDR setting: enabled = 1 or disabled = 0;-->
  <hdr enabled="0" />

  <!--AntiAlias setting : enabled = 1 or disabled = 0;-->
  <antialias enable="0" />

</configuration>